<form method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="telephone">Telephone:</label>
    <input type="text" id="telephone" name="telephone" required>

    <label for="telegram">Telegram:</label>
    <input type="text" id="telegram" name="telegram">

    <label for="role">Тип аккаунта:</label>
    <select id="role" name="role">
        <option value="admin">Адміністратор</option>
        <option value="user">Звичайний користувач</option>
    </select>

    <input type="submit" value="Зареєструвати">
</form>
