<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація користувача</title>
</head>
<body>
    <h1>Реєстрація користувача</h1>
    <form method="POST">
        <label for="username">Ім'я користувача:</label>
        <input type="text" name="username" required><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" required><br>

        <label for="confirm_password">Підтвердіть пароль:</label>
        <input type="password" name="confirm_password" required><br>

        <input type="submit" value="Зареєструватися">
    </form>
</body>
</html>
